<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <title>Posts</title>
</head>

<body>
    <%- include("partials/header") %>
    <div class="container">
        <div>
            <h2><%= pageH1 %></h2>
            <p><%= pageP %></p>
        </div>
    </div>
    <%- include("partials/footer") %>
</body>

</html>